#hideConsole {
    cursor: pointer;
    float: left;
}

#console {
    position: relative;
    /* display: inline-block; */
    vertical-align: top;
    /* width: 26%; */
    transition: all 1000ms;
}

#map_container {
    /* display: inline-block; */
    text-align: center;
    width: 73%;
    height: 100%;
    float: right;
    margin-left: 3px;
}

#map {
    position: relative;
    width: 1400px;
    height: 856px;
    /* width: 100%;
    height: 100%; */
    background-image: url("games/game1.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
    transition: all 1000ms;
    z-index: 9;
}

.tag {
    position: absolute;
    text-align: center;
}

.tag > img {
    width: 100%;
}

.tag.event {
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 40px;
    max-height: 40px;
}

.tag.visited {
    width: 10px;
    height: 10px;
    margin: 0;
    padding: 0;
}

.tag.visited > span {
    display: inline-block;
    border-width: 2px;
    padding: 5px;
    box-shadow: 1px 1px 1px black;
    border: solid 1px black;
}

.fas {
    font-size: 40px;
}